pandas
numpy
matplotlib
sphinx
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx_copybutton
sphinx_toggleprompt
nbsphinx
sphinx_codeautolink
sphinxcontrib.bibtex
sphinxcontrib-svg2pdfconverter
ipykernel
jinja2

scipy
scikit-learn
tensorflow==2.7
protobuf==3.19.1
keras-tcn

sphinx-gallery
xgboost

# for hru discretization examples
pyshp
shapely

#
shap
lime