pandas
numpy
matplotlib
sphinx
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
scipy
scikit-learn
tensorflow==2.7
protobuf==3.19.1
keras-tcn

sphinx-gallery
xgboost

# for hru discretization examples
pyshp
shapely

#
shap
lime

#


git+https://github.com/AtrCheema/AI4Water.git@dev